/* CSS Variables */
:root {
    /* fonts */
    --rc-title-font: 'Playfair Display', sans-serif;
    --rc-subtitle-font: 'Fira Sans', sans-serif;
    --rc-heading-font: 'Bebas Neue', sans-serif;
    --rc-body-font: 'Roboto', sans-serif;

    /* colors */
    --rc-dark-color: #212121;
    --rc-light-color: #deeefb;
    --rc-background-color: rgba(250, 250, 250, 0.8);

    /* text styles */
    --rc-title-color: var(--rc-dark-color);
    --rc-font-size: 1.2rem;
    --rc-font-weight: 400;
    --rc-line-height: 1.5rem;
}

/* Element Styles */
body {
    font-family: var(--rc-body-font);
    font-size: var(--rc-font-size);
    font-weight: var(--rc-font-weight);
    line-height: var(--rc-line-height);
    color: var(--rc-dark-color);
    background: var(--rc-background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--rc-heading-font);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    color: var(--rc-title-color);
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    color: var(--rc-theme-500);
}

a:hover {
    color: var(--rc-theme-400);
}

.btn-primary {
    --bs-btn-bg: var(--rc-theme-600);
    --bs-btn-border-color: var(--rc-theme-600);
    --bs-btn-hover-bg: var(--rc-theme-700);
    --bs-btn-hover-border-color: var(--rc-theme-700);
    --bs-btn-active-bg: var(--rc-theme-800);
    --bs-btn-active-border-color: var(--rc-theme-800);
}

svg {
    fill: var(--rc-theme-600);
}

/* #region Home Section */
#home {
    background-image: url(/img/sunset-bg-576.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--rc-theme-800);
    position: relative;
}

#homeCover {
    position: absolute;
    -webkit-backdrop-filter: brightness(0.35) blur(5px);
    backdrop-filter: brightness(0.35) blur(5px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainHeader {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: rgba(250, 250, 250, 0.5);
    padding: 1.5rem;
    border: 1px solid var(--rc-light-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.mainTitle {
    font-family: var(--rc-title-font);
    font-size: 3.25rem;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 500;
}

#mainHeader .mainTitle:nth-child(2) span {
    letter-spacing: .37rem;
}


.subTitle {
    font-family: var(--rc-subtitle-font);
    font-size: 1.3rem;
    line-height: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
}

.subTitle span {
    letter-spacing: .23rem;
}

#mainHeader svg {
    height: 10em;
    padding: 1em;
    fill: var(--rc-theme-600);
    transition: padding .4s ease-in-out;
}

#mainHeader svg:hover {
    padding: .5em 1em 1.5em 1em;
    transition: padding .4s ease-in-out;
}

svg {
    height: 1.5em;
}

#home .btn-primary {
    letter-spacing: .2rem;
    font-size: 1.25rem;
    --bs-btn-bg: var(--rc-theme-600);
    --bs-btn-border-color: var(--rc-theme-600);
    --bs-btn-hover-bg: var(--rc-theme-700);
    --bs-btn-hover-border-color: var(--rc-theme-700);
    --bs-btn-active-bg: var(--rc-theme-800);
    --bs-btn-active-border-color: var(--rc-theme-800);
}

/* #endregion Home Section */


/* #region Section Styles */

.section-page:nth-child(odd),
.section-page:nth-child(odd)>.container::after {
    background-color: var(--rc-theme-150);
}

.section-page:nth-child(even),
.section-page:nth-child(even)>.container::after {
    background-color: var(--rc-theme-100);
}

.section-page {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
}

section svg {
    height: 3rem;
}

.section-page>.container::after {
    content: "";
    position: absolute;
    height: 3rem;
    z-index: 1;
    left:0;
    right: 0;
    bottom: -3rem;

    /* rounded dividers */
    /* clip-path: ellipse(65% 100% at top center); */

    /* chevron dividers */
    /* clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%); */
}

/* angled dividers */
.section-page:nth-child(even)>.container::after {
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.section-page:nth-child(odd)>.container::after {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}


/* #endregion Section Styles */


/* #region Footer */
footer.fixed-bottom {
    background-color: var(--rc-theme-900);
    z-index: 2;
}

footer .card {
    background-color: var(--rc-theme-800);
}

footer i.bi {
    font-size: 2rem;
    transition: color 0.25s;
}

footer i.bi:hover {
    color: var(--rc-theme-core);
}

/* #endregion Footer */


/* #region ---- MEDIA QUERIES ---- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    #home {
        background-image: url(/img/sunset-bg-1200.jpg);
    }
    .mainTitle {
        font-size: 4rem;
        line-height: 4rem;
    }

    #mainHeader .mainTitle:nth-child(2) span {
        letter-spacing: .45rem;
    }
    
    .subTitle {
        font-size: 1.5rem;
        line-height: 2.2rem;
        
    }

    .subTitle span {
        letter-spacing: .33rem;
    }

    #home .btn-primary {
        font-size: 1.5rem;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #home {
        background-image: url(/img/sunset-bg-1920.jpg);
    }

}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}

/* #endregion ---- MEDIA QUERIES ---- */